In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
age = df.Age.median()
print(age)
salary = df.Salary.median()
print(salary)

38.0
61000.0

In [ ]:
df.Age = df.Age.fillna(age)
df.Salary = df.Salary.fillna(salary)
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0  61000.0       Yes
5   France  35.0  58000.0       Yes
6    Spain  38.0  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
x_n = df.drop('Purchased',axis='columns')
x_n

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0  61000.0
5   France  35.0  58000.0
6    Spain  38.0  52000.0
7   France  48.0  79000.0
8  Germany  50.0  83000.0
9   France  37.0  67000.0

In [ ]:
y_n = df['Purchased']

In [ ]:
from sklearn.preprocessing import LabelEncoder
obj = LabelEncoder()

In [ ]:
x_n['country'] = obj.fit_transform(x_n['Country'])
print(x_n)

   Country   Age   Salary  country
0   France  44.0  72000.0        0
1    Spain  27.0  48000.0        2
2  Germany  30.0  54000.0        1
3    Spain  38.0  61000.0        2
4  Germany  40.0  61000.0        1
5   France  35.0  58000.0        0
6    Spain  38.0  52000.0        2
7   France  48.0  79000.0        0
8  Germany  50.0  83000.0        1
9   France  37.0  67000.0        0

In [ ]:
x = x_n.iloc[:,[1,2,3]].values
x

array([[4.4e+01, 7.2e+04, 0.0e+00],
       [2.7e+01, 4.8e+04, 2.0e+00],
       [3.0e+01, 5.4e+04, 1.0e+00],
       [3.8e+01, 6.1e+04, 2.0e+00],
       [4.0e+01, 6.1e+04, 1.0e+00],
       [3.5e+01, 5.8e+04, 0.0e+00],
       [3.8e+01, 5.2e+04, 2.0e+00],
       [4.8e+01, 7.9e+04, 0.0e+00],
       [5.0e+01, 8.3e+04, 1.0e+00],
       [3.7e+01, 6.7e+04, 0.0e+00]])

In [ ]:
y = obj.fit_transform(y_n)
y

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1])

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20,random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler
model = StandardScaler()
x_train = model.fit_transform(x_train)
x_test = model.transform(x_test)
print(x_test)

[[-1.44194429 -0.86513213  0.13483997]
 [ 2.00150476  2.1759384   0.13483997]]

In [ ]:
from sklearn.tree import DecisionTreeClassifier
regressor = DecisionTreeClassifier()

In [ ]:
regressor.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
y_pred = regressor.predict(x_test)
y_pred

array([1, 1])

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.0